html{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(36, 35, 34);
  background-image: url(./assets/Wallpaper.jpg);
  overflow-x: hidden;
}
body {
  left: 0;
  min-width: 100vw;
  min-height: 100%;
  margin: 0;
  font-family: 'Abel', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#262a3198, #1e2025ea)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
